<h1>Account#charts</h1>
<p>Find me in app/views/account/charts.html.erb</p>

<link data-turbolinks-track="true" href="/assets/css/charts" media="all" rel="stylesheet" />

<head>
  <script type="text/javascript" src="d3/d3.min.js"></script>
    <style type="text/css">
      .axis path,
      .axis line{
        fill: none;
        stroke: black;
        shape-rendering: crispEdges;
      }
      .axis text {
        font-family: sans-serif;
        font-size: 11px;
      }
      .tick line{
        opacity: 0.2;
      }
    </style>
</head>

<body>
<div id="bg_w">
<img border="0" src="/bgw.jpg" width="700" height="500" alt="1">
</div>
<div id="bg_b">

</div>


<div id="chart01">
   <div id="graph"></div>
<script type="text/javascript">
   var list = [30000, 20000, 50000, 60000, 40000, 100000, 50000, 90000, 80000, 80000, 20000, 30000];
   var svgWidth = 600;
   var svgHeight = 400;
   var margin = 50;
   var Xmax = 12;
   var Ymax = 100000;
   var xScale = d3.scale.linear()
          .domain([1, Xmax])
          .range([margin, svgWidth-margin]);
   var yScale = d3.scale.linear()
          .domain([0, Ymax])
          .range([svgHeight-margin, margin]);
   var xAxis = d3.svg.axis()
          .scale(xScale)
          .orient("bottom")
          .ticks(12)
          .innerTickSize(-svgHeight)
          .outerTickSize(0)
          .tickPadding(10);
   var yAxis = d3.svg.axis()
          .scale(yScale)
          .orient("left")
          .ticks(10)
          .innerTickSize(-svgWidth)
          .outerTickSize(0)
          .tickPadding(8);

   var svg = d3.select("#graph").append("svg")
       .attr("width", svgWidth).attr("height", svgHeight)
   var line = d3.svg.line()
    .x(function(d, i){ return xScale(i); }) 
    .y(function(d){ return yScale(d); }) 
   svg.append("path")
      .attr("d", line(list))
      .attr("stroke", "black")
      .attr("transform","translate(" + (margin-5) + "," + 0 + ")")
      .attr("fill", "none");
   svg.append("g")
      .attr("class", "axis")
      .attr("transform", "translate(0," + (svgHeight-margin) + ")")
      .call(xAxis);
   svg.selectAll("line")
    .attr("stroke", "black")
    .attr("shape-rendering", "crispEdges");
   svg.append("g")
      .attr("class", "axis")
      .attr("transform", "translate(" + margin  + ",0)")
      .call(yAxis);i
</script>
</div>

<div id="crc">
<div id="graph2"></div>
<script type="text/javascript">
  var dataset = [
      {legend:"food", value:100, color:"red"},
      {legend:"wear", value:50, color:"yellow"},
        {legend:"entertainment", value:70, color:"pink"},
      {legend:"etc", value:20, color:"purple"}
      ];
  var width = 1600;
  var height = 500;
  var radius = 250;
  var svg = d3.select("body").append("svg")
      .attr("width", width)
      .attr("height", height)
      .append("g")
      .attr("transform", "translate(" + 1000  + "," + height / 2 + ")");
  var arc = d3.svg.arc()
          .outerRadius(radius)
          .innerRadius(30);
  var pie = d3.layout.pie()
          .sort(null)
          .value(function(d){ return d.value; });
  var g = svg.selectAll(".fan")
        .data(pie(dataset))
        .enter()
        .append("g")
        .attr("class", "fan")
    g.append("path")
        .attr("d", arc)
        .attr("fill", function(d){ return d.data.color; })
    g.append("text")
        .attr("transform", function(d) { return "translate(" + arc.centroid(d) + ")"; })
        .style("text-anchor", "middle")
        .text(function(d) { return d.data.legend; });

</script>
</div>

</body>
<br>
<div id='b'>
<input type="button" onclick="location.href='/account/things'"value="詳細">
</div>


